---
import { getCollection } from "astro:content";
import PostCard from "../../components/PostCard.astro";
import Layout from "../../layouts/Layout.astro";

const posts = await getCollection("blog").then((posts) => {
  return posts
    .sort((a, b) => {
      return (
        new Date(b.data.publishedAt).valueOf() -
        new Date(a.data.publishedAt).valueOf()
      );
    })
    .map((post) => {
      return {
        ...post,
        data: {
          ...post.data,
          readTime: Math.ceil(post.body.split(" ").length / 200),
        },
      };
    });
});
---

<Layout
  title="Blog"
  description="Peterle Pedro's articles realted to tech and stuff he likes"
>
  <main class="py-12 grid">
    <div class="relative mt-12 ml-0 lg:ml-[200px]">
      <div
        class="hidden absolute top-3 bottom-0 right-full mr-7 md:mr-[3.25rem] w-px bg-carbon-lighter sm:block"
      >
      </div>
      <div class="space-y-16">
        {posts.map((post) => <PostCard post={post} base="/blog/" />)}
      </div>
    </div>
  </main>
</Layout>
