---
import Layout from "../layouts/Layout.astro";
---

<Layout
    title="Design Documents"
    description="Design Documents for Projects I have worked on"
>
    <main class="pt-8 pb-8">
        <p class="text-bold">
            <strong class="bg-red-700 px-2">404</strong> Page you're looking for does not exists, or has been removed!
        </p>
    </main>
</Layout>
