---
import Image from "astro/components/Image.astro";
import myImage from "../assets/socrates.jpg";
import Paper from "../components/Paper.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout title="Profile" description="Peterle Pedro's Profile">
  <Paper title="About me">
    <p class="mt-4">## Profile: Software Engineer</p>
    <p class="mt-4">## Skills:</p>
    <p>
      Engineering and programming working together to solve complex problems
      efficiently
    </p>
    <p class="mt-4">## Resume: <a href="/resume" class="p-1">Open ↳</a></p>

    <p class="mt-4">## Interests:</p>
    <p>
      "And what is it but ignorance, the most reprehensible of all, believing
      one knows what one does not know?"
    </p>

    <figure>
      <Image
        class="mt-4 grayscale contrast-200 border"
        alt="The Death of Socrates"
        src={myImage}
        title="The Death of Socrates."
      />
      <figcaption class="text-center">Fig 1: The Death of Socrates</figcaption>
    </figure>
  </Paper>
</Layout>
