---

---

<div class="grid grid-cols-3 text-center gap-y-2">
  <a
    target="_blank"
    class="underline hover:bg-amber/40 px-2"
    href="mailto:phpeterle1@gmail.com?subject=Hello">Email</a
  >
  <a
    target="_blank"
    class="underline hover:bg-amber/40 px-2"
    href="https://www.linkedin.com/in/pedro-peterle-424216168/?locale=en_US"
    >LinkedIn</a
  >
  <a
    target="_blank"
    class="underline hover:bg-amber/40 px-2"
    href="https://github.com/pPeterle">GitHub</a
  >
</div>
