---
import Contacts from "./Contacts.astro";
---

<div>
  <div class="pt-8 pb-4 text-sm" id="contact"><Contacts /></div>
  <footer
    class="pt-8 pb-8 px-2 lg:px-0 text-center border-carbon text-xs text-carbon"
  >
    &copy; 2019 - {new Date().getFullYear()}, Pedro Peterle.<wbr />
  </footer>
</div>
