---
import Navitem from "./Navitem.astro";
---

<nav class="flex flex-col justify-between pb-2 pt-2 lg:pt-8">
  <h2
    class="uppercase flex items-center justify-between py-2 font-black text-xl md:text-6xl"
  >
    █▓▒░ Pedro Peterle
  </h2>
  <ul class="flex gap-x-2 pt-8">
    <Navitem title="✦ PROFILE" href="/" />
    <Navitem title="¶ BLOG" href="/blog" />
    <Navitem title="≥ PROJECTS" href="/projects" />
    <Navitem title="≤ RESUME" href="/resume" />
  </ul>
</nav>
