---
import Navitem from "./Navitem.astro";
---

<nav class="flex flex-col justify-between pb-2 pt-2 lg:pt-8">
  <div class="uppercase flex items-center justify-between py-2">
    <span id="title" class="font-black text-2xl md:text-6xl"
      >█▓▒░ Pedro Peterle</span
    >
  </div>
  <div class="flex gap-x-2 pt-8">
    <Navitem title="✦ PROFILE" href="/" />
    <Navitem title="¶ BLOG" href="/blog" />
    <Navitem title="≥ PROJECTS" href="/projects" />
  </div>
</nav>
