---
export interface Props {
  title: string;
  href: string;
  hasNew?: boolean;
}

const title = Astro.props.title;
const href = Astro.props.href;

const pathname = new URL(Astro.request.url).pathname.replace(/\/$/, "");
const _href = href.replace(/\/$/, "");

let isActive = false;
if (_href === "") {
  isActive = pathname === _href;
} else {
  isActive = pathname.startsWith(_href);
}
---

<li
  class=`capitalize px-2 pb-0 pt-[1px] flex items-center justify-center gap-x-2 text-sm md:text-md hover:bg-yellow-400 transition-colors ${isActive ? "bg-yellow-400 text-black" : "" }`
>
  <a href={href}>
    {title}
  </a>
</li>
