---
import type { CollectionEntry } from "astro:content";

export interface Props {
    post: CollectionEntry<"blog">;
    base: string,
}

const formatter = new Intl.DateTimeFormat("en-IN", {
    year: "numeric",
    month: "short",
    day: "numeric",
});
const post = Astro.props.post;
const base = Astro.props.base;
---

<article class="relative group">
    <span
        class="hidden absolute right-full mr-6 top-0 md:mr-12 w-[calc(0.5rem+1px)] h-[calc(0.5rem)] overflow-visible sm:block text-carbon-lighter"
        >♦</span
    >
    <div class="flex justify-between">
        <a class="w-full px-0 md:px-2 h-full mb-2" href={base + post.slug}>
            <h3
                class="text-lg tracking-tight text-carbon pt-8 lg:pt-0"
            >
                {post.data.title}
            </h3>
            <div class="mt-2 mb-4 prose text-carbon-light line-clamp-3">
                <p>
                    {post.data.description}
                </p>
            </div>
            <span class="text-sm text-carbon-lighter">Read more ↳</span>
        </a>
    </div>
    <dl
        class="absolute left-0 top-0 lg:left-auto lg:right-full lg:mr-[calc(6.5rem+1px)]"
    >
        <dt class="sr-only">Date</dt>
        <dd class="whitespace-nowrap text-xs leading-6 text-carbon-lighter">
            <time datetime={post.data.publishedAt.toISOString()}>
                {formatter.format(new Date(post.data.publishedAt))}
            </time>
        </dd>
    </dl>
</article>