---
import type { CollectionEntry } from "astro:content";

export interface Props {
  post: CollectionEntry<"blog">;
  base: string;
}

const formatter = new Intl.DateTimeFormat("en-IN", {
  year: "numeric",
  month: "short",
  day: "numeric",
});
const post = Astro.props.post;
const base = Astro.props.base;
---

<article class="flex flex-col border-t-2 border-dashed py-3">
  <a href={base + post.slug}>
    <h3 class="text-lg tracking-tight text-carbon pt-4">
      ## {post.data.title}
    </h3>
    <p class="mt-2 mb-4 prose text-sm text-carbon-light line-clamp-3">
      {post.data.description}
    </p>
    <fotter class="flex gap-2 justify-between">
      <dl>
        <dt class="sr-only">Date</dt>
        <dd class="whitespace-nowrap text-xs leading-6 text-carbon-lighter">
          <time datetime={post.data.publishedAt.toISOString()}>
            {formatter.format(new Date(post.data.publishedAt))}
          </time>
        </dd>
      </dl>
      <p class="text-sm text-carbon-lighter">Read more ↳</p>
    </fotter>
  </a>
</article>
