---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Projects" description="My Personal projects">
  <main class="pt-8 pb-4 grid grid-cols-2 gap-y-4">
    <section class="relative ml-0 col-span-1">
      <article class="border border-carbon p-2 hover:bg-gold transition">
        <a
          href="https://www.youtube.com/watch?v=KJNbWNlL_Fc&t=1s&ab_channel=FlutterandoTV"
          target="_blank"
        >
          <h3 class="font-bold text-lg mb-2">Flutter Performance</h3>
          <p class="text-sm">
            Dicussing and implementing how to improve the performance from a
            Flutter Application
          </p>
          <p class="text-sm text-carbon-lighter text-right">Watch ↳</p>
        </a>
      </article>
    </section>
  </main>
</Layout>
